body{
    background-color: rgb(8, 57, 99);
    color: white;
    text-align: center;
}

#titulo-principal{
    font-size: 3vw;
}

a{
    color: aliceblue;
    text-decoration-line: none;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 78rem;
}

table {
    width: 70%;
    border-collapse: collapse;
  }
  
td {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 25%;
    padding: 10px;
}