<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <title>GasCompare</title>
</head>

<body>
  <header>
    <h1 id="titulo-principal">GasCompare</h1>
    <nav>
      <a href="index.html">Indice</a>
    </nav>
  </header>
  <h2>Formulario de ciudades</h2>

  <form action="/procesar_formulario" method="post">
    <label for="ciudad_partida">Ciudad de Partida:</label>
    <input type="text" id="ciudad_partida" name="ciudad_partida" required><br><br>

    <label for="ciudad_destino">Ciudad de Destino:</label>
    <input type="text" id="ciudad_destino" name="ciudad_destino" required><br><br>

    <input type="submit" value="Enviar">
  </form>
  <div class="container">
    <br class="mensaje">{{mensaje_web}}</br>
  </div>

  {% if rutaCiudades_web.ciudad_partida is none or rutaCiudades_web.ciudad_destino is none %}
  <h2>ERROR : Ciudad de Partida o Destino no especificada</h2>
  {% else %}
  <h2>Gasolineras Encontradas entre {{rutaCiudades_web.ciudad_partida}} y {{rutaCiudades_web.ciudad_destino}}</h2>
  <div class="container">
    {% if rutaCiudades_web.gasolineras %}
    <table class="table-provincias">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Dirección</th>
          <th>Horario</th>
          <th>Valoración</th>
        </tr>
      </thead>
      <tbody>
        {% for gasolinera in rutaCiudades_web.gasolineras %}
        <tr>
          <td>{{ gasolinera.nombre }}</td>
          <td>{{ gasolinera.direccion }}</td>
          <td>
            {% if gasolinera.horario is none %}
            SIN INFORMACIÓN
            {% elif gasolinera.horario %}
            ABIERTO
            {% else %}
            CERRADO
            {% endif %}
          </td>
          <td>
            {% if gasolinera.rating is none %}
            NO VALORADA
            {% else %}
            {{ gasolinera.rating }}
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No se encontraron gasolineras.</p>
    {% endif %}
  </div>
  {% endif %}


</body>

</html>