<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <title>GasCompare</title>
</head>

<body>
  <h1 id="titulo-principal">GasCompare</h1>
  <a href="ciudades.html">Ciudades</a>
  <main>
    <h3>{{fechaPrecio_web}}</h3>
    <div class="container">
      <table>
        <tr>
          <th>Combustible</th>
          <th>Hoy</th>
          <th>Ayer</th>
          <th>Máx. Histórico</th>
        </tr>
        {% for index in range(0, nombresCombustibles_web|length) %}
        <tr>
          <td>{{ nombresCombustibles_web[index] }}</td>
          {% for i in range(index*3, index*3+3) %}
          {% if i < preciosSpain_web|length %} <td class="precio font-dsdigital">
            <strong>{{ preciosSpain_web[i] }}</strong>
            </td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
      </table>
    </div>

    <h2>Precios Medios de las Principales Marcas</h2>
    <div class="container">
      <table>
        <tbody>
          <tr>
            <th></th>
            {% for imagen in imagenes_web %}
            <td><img src="{{ imagen }}"></td>
            {% endfor %}
          </tr>

          {% for p in preciosPorMarca_web|batch(9, '&nbsp;') %}
          <tr>
            {% for item in p %}
            <td>{{ item }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div>
      <h1>Formulario de búsqueda de gasolineras</h1>
      <form method="POST" action="/buscar_gasolineras">
        <div class="formularios">
          <label for="provincia">Selecciona una provincia</label>
          <select name="provincia" id="seleccion-provincia">
            {% for provincia in provicinciasEspana_web %}
            <option value="{{ provincia }}">{{ provincia }}</option>
            {% endfor %}
          </select>
          <br>{{gasolineras}}<br>
          <label for="codigo-postal">Codigo Postal</label>
          <input type="text" name="codigo-postal">
        </div>
        <input type="submit" value="Buscar">
    </div>

    <div class="container table-provincias">
      <table>
        <thead>
          <tr class="sticky-header">
            <th class="rotulo">Rótulo</th>
            <th class="municipio">Municipio</th>
            <th class="direccion">Dirección</th>
            <th class="gas95">Precio Gasolina 95 E5</th>
            <th class="gas98">Precio Gasolina 98 E5</th>
            <th class="gasA">Precio Gasóleo A</th>
          </tr>
        </thead>
        <tbody>
          {% for gasolinera in gasolineasPronvincia_web %}
          <tr>
            <td class="rotulo">{{ gasolinera['Rótulo'] }}</td>
            <td class="municipio">{{ gasolinera['Municipio'] }}</td>
            <td class="direccion">{{ gasolinera['Direccion'] }}</td>
            <td class="gas95">{{ gasolinera['Precio Gasolina 95 E5'] }}</td>
            <td class="gas98">{{ gasolinera['Precio Gasolina 98 E5'] }}</td>
            <td class="gasA">{{ gasolinera['Precio Gasoleo A'] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </main>
</body>

</html>