<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>GasCompare</title>
</head>

<body>
    <header>
        <h1 id="titulo-principal">GasCompare</h1>
        <nav>
            <a href="ciudades.html">Ciudades</a>
        </nav>
    </header>

    <main>
        <section>
            <div class="container">
                <h2>Precios de Gasolina y Diésel Hoy en España</h2>
                <table>
                    <thead>
                        <tr>
                            <p>{{fechaPrecio_web}}</p>
                            <th>Combustible</th>
                            <th>Hoy</th>
                            <th>Ayer</th>
                            <th>Máx. Histórico</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for combustible in preciosCombustibles_web %}
                        <tr>
                            <td>{{ combustible.nombre }}</td>
                            <td><strong>{{ combustible.precio_litro_actual }}</strong></td>
                            <td><strong>{{ combustible.precio_litro_pasado }}</strong></td>
                            <td><strong>{{ combustible.precio_litro_maxHistorico }}</strong></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>

        <section>
            <h2>Precios Medios de las Principales Marcas</h2>
            <div class="container">
                <table>
                    <tbody>
                        {% for entidad in preciosEntidades_web %}
                        <tr>
                            <td><img src="{{ entidad.imagen_link }}"></td>
                            {% for combustible in entidad.combustibles %}
                            <td>{{ combustible.nombre }}</td>
                            <td> <strong>{{ combustible.precio_litro_actual }}</strong></td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>

        <section class="container formulario-busqueda">
            <h2>Formulario de búsqueda de gasolineras</h2>
            <form method="POST" action="/buscar_gasolineras">
                <div class="formularios">
                    <label for="provincia">Selecciona una provincia</label>
                    <select name="provincia" id="seleccion-provincia">
                        {% for provincia in provicinciasEspana_web %}
                        <option value="{{ provincia }}">{{ provincia }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    {{gasolineras}}
                    <br>
                    <label for="codPostal">Codigo Postal</label>
                    <input type="text" name="codPostal">
                    <br>
                    <br>
                    <label for="tipoCombustible">Tipo de combustible</label>
                    <select name="tipoCombustible" id="seleccion-combustible">
                        <option value="Gasolina 95">Gasolina 95 E5</option>
                        <option value="Gasolina 98">Gasolina 98 E5</option>
                        <option value="Gasoleo A">Gasoleo A</option>
                        <option value="Gasoleo Premiun">Gasoleo Premiun</option>
                    </select>
                </div>
                <input type="submit" value="Buscar">
            </form>
        </section>

        <section>
            <div class="container">
                <table class="table-precios">
                    <thead>
                        <tr>
                            <th class="rotulo">Rótulo</th>
                            <th class="municipio">Municipio</th>
                            <th>Dirección</th>
                            <th class="gasolina">{{ tipoCombustible_web }}</th>
                            <th> <input type="number" name="deposito" value="60" id="deposito"> </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for gasolinera in gasolineras_web %}
                        <tr>
                            <td>{{ gasolinera.nombre }}</td>
                            <td>{{ gasolinera.municipio }}</td>
                            <td>{{ gasolinera.ubicacion }}</td>
                            {% for combustible in gasolinera.combustibles %}
                            {% if tipoCombustible_web == "Gasolina 95" and combustible.nombre == "Gasolina 95" %}
                            <td class="precioGasolina">{{ combustible.precio_litro_actual }}</td>
                            {% elif tipoCombustible_web == "Gasolina 98" and combustible.nombre == "Gasolina 98" %}
                            <td class="precioGasolina">{{ combustible.precio_litro_actual }}</td>
                            {% elif tipoCombustible_web == "Gasoleo A" and combustible.nombre == "Gasoleo A" %}
                            <td class="precioGasolina">{{ combustible.precio_litro_actual }}</td>
                            {% elif tipoCombustible_web == "Gasoleo Premiun" and combustible.nombre == "Gasoleo Premiun"
                            %}
                            <td class="precioGasolina">{{ combustible.precio_litro_actual }}</td>
                            {% endif %}
                            {% endfor %}
                            <td class="costo-llenado"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </main>
</body>

<script>

    const depositoInput = document.querySelector("input[name='deposito']");
    const precioGasolinaList = document.querySelectorAll(".precioGasolina");
    const costoLlenadoList = document.querySelectorAll(".costo-llenado");

    depositoInput.addEventListener("input", calcularCostoLlenado);

    function calcularCostoLlenado() {
        const depositoValue = parseFloat(depositoInput.value);

        for (let i = 0; i < precioGasolinaList.length; i++) {
            const element = precioGasolinaList[i];
            const precioPorLitro = parseFloat(element.innerHTML.replace(/,/g, '.'));   
            let costoLlenado = isNaN(depositoValue) || isNaN(precioPorLitro) ? 0 : (depositoValue * precioPorLitro).toFixed(2);
            costoLlenadoList[i].textContent = costoLlenado + "€/l";
        }
    }
</script>

</html>